@import "../../../../../styles/abstracts";

.About {
  position: absolute;
  top: -3rem;
  width: 60%;
  height: 80rem;
  z-index: 99;

  &:after {
    content: "";
    width: 20rem;
    height: 20rem;
    background-color: var(--pri);
    position: absolute;
    right: -0.5rem;
    bottom: -0.5rem;
    z-index: -1;
    border-bottom-right-radius: 2.4rem;
  }

  @include respond(tab-land) {
    height: 80rem;
  }

  &__container {
    height: 100%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--sec);
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;

    @include respond(tab-land) {
      padding: var(--pt);
      justify-content: flex-start;
    }

    & p {
      color: white;

      @include respond(laptop) {
        margin-bottom: 7rem;
        font-size: 1.5rem;
      }
    }
  }

  & h1 {
    font-size: 6rem;
    color: white;
  }

  &__btns {
    width: 70%;
    display: flex;
    justify-content: space-between;
    width: 40rem;
    padding-bottom: 8rem;

    *:nth-child(1) {
      margin-right: 5rem;
    }

    & * {
      background-color: var(--sec);
      color: var(--lig);

      &:hover {
        color: var(--ter);
      }
    }
  }

  &__logos {
    background-color: var(--dar);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom-right-radius: 2rem;
    height: 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 7rem;

    & > * {
      color: white;
    }
  }
}
