@import "../../styles/abstracts";

.social {
  width: 23%;
  position: absolute;
  top: 12%;
  right: 0;
  margin-right: 7rem;
  display: flex;
  justify-content: space-around;
  z-index: 99;

  @include respond(tab-land) {
    right: 7%;
    top: 7%;
    margin-right: 0;
  }

  &__icons {
    position: relative;
    margin: 0 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    &--icon {
      padding-bottom: 0.5rem;

      &:hover {
        color: var(--pri);
      }
    }

    & a {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }

    & i {
      font-size: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      -webkit-filter: none;
      filter: none;
    }
  }
}
