.photo {
  background-image: url(../../../../../assets/img/me.jpg);
  background-size: cover;
  background-position: center;
  width: 27%;
  height: 100%;
  box-shadow: var(--sha);
  position: absolute;
}
