//Animations
@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(-6rem);
  }
  80% {
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes pulse {
  0% {
    transform: translateY(5rem);
  }
  50% {
    transform: translateY(3rem);
  }
  100% {
    transform: translateY(5rem);
  }
}

//Mixins

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 30em) {
      @content; //320px - 480px
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 45em) {
      @content; //768px - 1024px
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 64em) {
      @content; //768px - 1024px
    }
  }
  @if $breakpoint == laptop {
    @media only screen and (max-width: 90em) {
      @content; //1224px
    }
  }
  @if $breakpoint == desktop {
    @media only screen and (max-width: 114em) {
      @content; //1824px
    }
  }
}
