:root {
  //fonts
  --f1: "Nunito", sans-serif;
  --f2: "Abril Fatface", cursive;
  --def: 1.65rem;

  //colours
  --pri: #14daa5;
  --sec: #1b4f6d;
  --ter: #674d8a;
  --lig: #f9ffff;
  --dar: rgb(11, 16, 22);
  --gra: linear-gradient(to bottom right, #ffffff 50%, #a9d8e7 150%);

  --sat: 82%;

  //shadows
  --sha: 0rem 0.4rem 2rem rgba(0, 0, 0, 0.1);
  --sha1: -2rem 0.5rem 4rem rgba(#000, 0.2);

  //padding/margins
  --pt: 1rem;
  --pm: 0.4rem;
}
