:root {
  //fonts
  --f1: "Nunito", sans-serif;
  --f2: "Abril Fatface", cursive;
  --def: 1.6rem;

  //colours
  --pri: #eedd7f;
  --sec: #202a36;
  --ter: #9ec6e7;
  --lig: #e8e8e8;
  --dar: rgb(11, 16, 22);
  --gra: linear-gradient(to bottom right, #9ec6e7 50%, #a9d8e7 150%);

  --sat: 82%;

  //shadows
  --sha: 0rem 0.4rem 2rem rgba(0, 0, 0, 0.3);
  --sha1: -2rem 0.5rem 4rem rgba(#000, 0.2);
}
