.Main {
  width: 90%;
  z-index: 0;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
    display: none;
  }

  &__home {
    position: relative;
    height: 100vh;
    background-color: var(--ter);
    width: 100%;
    display: block;
  }

  &__about {
    min-height: 100vh;
    position: relative;
    width: 100%;
    background-color: var(--ter);
    display: block;
  }

  &__contact {
    min-height: 100vh;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;

    &--container {
      width: 85%;
      margin: auto;
      border-radius: 0.8rem;
      display: flex;
      background-color: white;
      box-shadow: var(--sha);
    }
  }
}

[class^="port-icon-"] {
  font-size: 5rem;
  color: white;
}
