.Input__container {
  width: 100%;
}

.Input__element {
  border: 1px solid var(--lig);
  width: 100%;
  border-radius: 0.3rem;
  padding: 1.5rem;
  outline: none;

  &:focus {
    outline: none;
    background-color: #eaf1f5c2;
  }
}
