@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&family=Yeseva+One&display=swap");

//fonts
$f1: "Raleway", sans-serif;
$f2: "Yeseva One", cursive;
$def: 1.6rem;

//colours
$pri: #ebde94;
$sec: #202a36;
$ter: #7795ac;
$lig: #e8e8e8;
$dar: rgb(11, 16, 22);
$gra: linear-gradient(#fff, #ebfaff);

//shadows
$sha: 0 2rem 4rem rgba(#000, 0.2);
$sha1: -2rem 0.5rem 4rem rgba(#000, 0.2);

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: $def;
  font-family: $f1;
  color: $sec;
}

h1,
h2,
h3 {
  font-family: $f2;
  color: $lig;
}

a,
li,
ul {
  color: $sec;
  list-style-type: none;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
