@import "../../../../../styles/abstracts";

.Stats {
  position: relative;
  width: 75%;
  height: 80vh;
  background-color: var(--ter);
  top: 12rem;
  float: right;
  box-shadow: var(--sha);

  @include respond(tab-land) {
    top: 3rem;
    height: 77rem;
  }

  &__container {
    position: absolute;
    width: 40%;
    height: 100%;
    right: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 3rem;

    @include respond(tab-land) {
      width: 50%;
      right: 2%;
    }
  }

  &__title {
    color: var(--lig);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: lighter;
    margin: 5rem auto;
  }

  &__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    & p {
      color: white;
    }
  }

  &__stat {
    height: 2rem;
    position: relative;
    width: 100%;
    background-color: var(--lig);
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    font-size: 1.1rem;
    color: var(--sec);
    margin-bottom: 1.3rem;
    z-index: 0;

    &:after {
      content: "";
      height: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--pri);
      left: 0;
      z-index: -1;
    }

    &:nth-of-type(1n) {
      &:after {
        width: 95%;
      }
    }
    &:nth-of-type(2n) {
      &:after {
        width: 80%;
      }
    }
    &:nth-of-type(3n) {
      &:after {
        width: 85%;
      }
    }
    &:nth-of-type(4n) {
      &:after {
        width: 85%;
      }
    }

    //design
    &:nth-of-type(5n) {
      &:after {
        width: 90%;
      }
    }
    &:nth-of-type(6n) {
      &:after {
        width: 95%;
      }
    }
    &:nth-of-type(7n) {
      &:after {
        width: 95%;
      }
    }
  }
}
