.Form {
  width: 50%;
  padding: 6rem 3rem;
}
.Form-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 100%;

  &__form {
    display: flex;
    height: 70rem;
    flex-direction: column;
    justify-content: space-between;

    & hgroup {
      color: var(--sec);

      & h3 {
        padding: 1.3rem 0;
        font-size: 3rem;
      }
    }

    &--submit {
      border: none;
      outline: none;
      background-color: var(--sec);
      color: var(--lig);
      padding: 1.5rem;
      border-radius: 0.3rem;
      cursor: pointer;
      transition: all 0.2s;
      font-size: 1.6rem;
      font-weight: 600;

      &:hover {
        background-color: var(--ter);
      }
    }
  }
}
